<?xml version="1.0"?>
<robot name="cubic_doggo" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="common_properties.xacro" />
    <xacro:include filename="cubic_doggo_legF.xacro"/>
    <xacro:include filename="cubic_doggo_legB.xacro"/>
<!-- ================================================================================================================================== -->
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/CADv3/baseTorso.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.056 0.252 0.004"/>
            </geometry>
            <origin xyz="0.0 0.0 0.002" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.06" x="0.056" y="0.252" z="0.004" o_xyz="0 0 0.002" o_rpy="0 0 0"/>
    </link>

    <link name="base_plate_B">
        <visual>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/CADv3/basePlate.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.141 0.036 0.004"/>
            </geometry>
            <origin xyz="0 0.018 0.002" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.0336" x="0.141" y="0.036" z="0.004" o_xyz="0 0.018 0.002" o_rpy="0 0 0"/>
    </link>
    <joint name="torso_base_plate_B" type="fixed">
        <parent link="base_link"/>
        <child  link="base_plate_B"/>
        <origin xyz="0 -0.066 0.004" rpy="0 0 0"/>
    </joint>

    <link name="base_plate_F">
        <visual>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/CADv3/basePlate.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.141 0.036 0.004"/>
            </geometry>
            <origin xyz="0 0.018 0.002" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.0336" x="0.141" y="0.036" z="0.004" o_xyz="0 0.018 0.002" o_rpy="0 0 0"/>
    </link>
    <joint name="torso_base_plate_F" type="fixed">
        <parent link="base_link"/>
        <child  link="base_plate_F"/>
        <origin xyz="0 0.091 0.004" rpy="0 0 ${urdf_pi}"/>
    </joint>    

    <link name="batteryHolder">
        <visual>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/CADv3/batteryHolder.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/collisionV3/batteryHolder.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
        <inertial>
            <origin xyz="0.0 -0.0018 0.0525" rpy="0 0 0"/>
            <mass value="0.460"/>
            <inertia ixx="0.0008346" ixy="0" ixz="0"
                 iyy="0.0007990" iyz="0"
                 izz="0.0001736"/>
        </inertial>
    </link>
    <joint name="torso_batteryHolder" type="fixed">
        <parent link="base_link"/>
        <child  link="batteryHolder"/>
        <origin xyz="0 0.089 0.03" rpy="${-urdf_pi/2} 0 ${urdf_pi}"/>
    </joint>

    <link name="U2D2powerHub_front">
        <visual>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/external/powerHubU2D2.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="${-urdf_pi/2} 0 ${urdf_pi}"/>
            <material name="grey"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.048 0.056 0.004"/>
            </geometry>
            <origin xyz="0.0005 0 0" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.026" x="0.048" y="0.056" z="0.004" o_xyz="0.0005 0 0" o_rpy="0 0 0"/>
    </link>
    <joint name="torso_U2D2powerHub_front" type="fixed">
        <parent link="base_link"/>
        <child  link="U2D2powerHub_front"/>
        <origin xyz="0 0.118 -0.002" rpy="0 0 0"/>
    </joint>

    <link name="U2D2powerHub_back">
        <visual>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/external/powerHubU2D2.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="${-urdf_pi/2} 0 0"/>
            <material name="grey"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.048 0.056 0.004"/>
            </geometry>
            <origin xyz="0.0005 0 0" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.016" x="0.048" y="0.056" z="0.004" o_xyz="0.0005 0 0" o_rpy="0 0 0"/>
    </link>
    <joint name="torso_U2D2powerHub_back" type="fixed">
        <parent link="base_link"/>
        <child  link="U2D2powerHub_back"/>
        <origin xyz="0 -0.094 -0.002" rpy="0 0 0"/>
    </joint>

    <link name="DCDCconvertor">
        <visual>
            <geometry>
                <box size="0.063 0.027 0.004"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="grey"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.063 0.027 0.004"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.02" x="0.063" y="0.027" z="0.004" o_xyz="0 0 0" o_rpy="0 0 0"/>
    </link>
    <joint name="torso_DCDCconvertor" type="fixed">
        <parent link="base_link"/>
        <child  link="DCDCconvertor"/>
        <origin xyz="0 0.018 -0.004" rpy="0 0 0"/>
    </joint>

    <link name="raspberryPi5">
        <visual>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/external/raspberryPi5.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="${urdf_pi} 0 ${urdf_pi/2}"/>
            <material name="grey"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.056 0.085 0.008"/>
            </geometry>
            <origin xyz="0 0 -0.004" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.062" x="0.056" y="0.85" z="0.008" o_xyz="0 0 -0.004" o_rpy="0 0 0"/>
    </link>
    <joint name="torso_raspberryPi5" type="fixed">
        <parent link="base_link"/>
        <child  link="raspberryPi5"/>
        <origin xyz="0 -0.018 -0.018" rpy="0 0 0"/>
    </joint>

    <link name="lidarHolder">
        <visual>
            <geometry>
                <mesh filename="package://my_robot_description/mesh/CADv3/lidarHolder.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 0" rpy="${urdf_pi} 0 ${urdf_pi}"/>
            <material name="grey"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.064 0.082 0.034"/>
            </geometry>
            <origin xyz="0 -0.009 0.013" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.01" x="0.064" y="0.082" z="0.034" o_xyz="0 -0.009 0.013" o_rpy="0 0 0"/>
    </link>
    <joint name="torso_lidarHolder" type="fixed">
        <parent link="base_link"/>
        <child  link="lidarHolder"/>
        <origin xyz="0 0.136 -0.026" rpy="0 0 0"/>
    </joint>

    <link name="lidar_RPLIDAR_A1">
        <visual>
            <geometry>
                <cylinder radius="0.035" length="0.024"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.07 0.095 0.05"/>
            </geometry>
            <origin xyz="0 -0.012 0" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.16" x="0.07" y="0.095" z="0.05" o_xyz="0 -0.012 0" o_rpy="0 0 0"/>
    </link> 
    <joint name="lidarHolder_lidar_RPLIDAR_A1" type="fixed">
        <parent link="lidarHolder"/>
        <child  link="lidar_RPLIDAR_A1"/>
        <origin xyz="0 0 -0.025" rpy="0 0 0"/>
    </joint>

    <link name="imu_board">
        <visual>
            <geometry>
                <box size="0.027 0.021 0.004"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.027 0.021 0.004"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia m="0.005" x="0.027" y="0.021" z="0.004" o_xyz="0 0 0" o_rpy="0 0 0"/>
    </link>
    <joint name="torso_imu_board" type="fixed">
        <parent link="base_link"/>
        <child  link="imu_board"/>
        <origin xyz="0.0 0.0475 -0.002" rpy="${urdf_pi} 0 ${urdf_pi}"/>
    </joint>
<!-- ================================================================================================================================== -->
    <xacro:doggo_legF prefix='FL'/>
    <xacro:doggo_legF prefix='FR'/>
    <xacro:doggo_legB prefix='BL'/>
    <xacro:doggo_legB prefix='BR'/> 

    <xacro:macro name="foot_friction" params="prefix">
        <gazebo reference="calfFeet_${prefix}">
            <mu1>0.5</mu1>              <!-- Static Friction -->
            <mu2>0.5</mu2>              <!-- Dynamic Friction -->
            <kp>1000000.0</kp>          <!-- Contact Stiffness -->
            <kd>1.0</kd>                <!-- Damping -->
            <minDepth>0.001</minDepth>  <!-- Helps contact stability -->
            <maxVel>0.1</maxVel>        <!-- Prevents "launching" on contact -->
            <fdir1>1 0 0</fdir1>        <!-- Direction of mu1 -->
        </gazebo>
    </xacro:macro>

    <xacro:foot_friction prefix="FL"/>
    <xacro:foot_friction prefix="FR"/>
    <xacro:foot_friction prefix="BL"/>
    <xacro:foot_friction prefix="BR"/>
<!-- ================================================================================================================================== -->
    <gazebo reference="batteryHolder">
        <collision>
            <surface>
                <contact>
                    <ode>
                        <min_depth>0.001</min_depth>   <!-- enforcing convexity -->
                    </ode>
                </contact>
            </surface>
        </collision>
    </gazebo>
    <gazebo reference="imu_board">
        <sensor name="imu_bno055" type="imu">
            <always_on>1</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
            <gz_frame_id>imu_board</gz_frame_id>
        </sensor>
    </gazebo>
    <ros2_control name="GazeboInterface" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="servo1_servo1_padding_FL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo2_servo2_padding_FL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">2.54</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo3_calfFeet_FL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">4.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo1_servo1_padding_FR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo2_servo2_padding_FR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.74</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo3_calfFeet_FR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">2.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo1_servo1_padding_BL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo2_servo2_padding_BL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">2.54</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo3_calfFeet_BL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">4.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo1_servo1_padding_BR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo2_servo2_padding_BR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.74</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo3_calfFeet_BR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">2.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <!-- ========================================================================================================================== -->
        <sensor name="imu_bno055">
            <state_interface name="orientation.x"/>
            <state_interface name="orientation.y"/>
            <state_interface name="orientation.z"/>
            <state_interface name="orientation.w"/>
            <state_interface name="angular_velocity.x"/>
            <state_interface name="angular_velocity.y"/>
            <state_interface name="angular_velocity.z"/>
            <state_interface name="linear_acceleration.x"/>
            <state_interface name="linear_acceleration.y"/>
            <state_interface name="linear_acceleration.z"/>
        </sensor>
    </ros2_control>
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find my_robot_bringup)/config/cubic_doggo_controllers.yaml</parameters>
        </plugin>
        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
        </plugin>
    </gazebo>
</robot>



